<div class="table-responsive">
    <div class="custom-filter">
      <div class="row m-0">
        <div class="col-4 p-0">
          <div class="d-flex gap-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar..." >
              <button class="btn btn-primary" ><i class="mdi mdi-magnify"></i></button>
            </div>
            <button class="btn btn-primary" (click)="refreshTable(pageSize)">
              <i class="mdi mdi-refresh"></i>
            </button>
          </div>
        </div> 
        <div class="col-2">
          <div class="d-flex justify-content-around"  >
            <span class="align-self-center" >Size :</span>
            <select class="form-select" style="width: 50%;" (ngModelChange)="refreshTable($event)" [(ngModel)]="pageSize" >
              <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
            </select>
          </div>
        </div>

      </div>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
            <th *ngFor="let field of fields" ngClass="{{ field.thClass ?? '' }}" >{{ field.name }}</th>
        </tr>
      </thead>
      
      <tbody *ngIf="!isBusy ; else loading" >
        <tr *ngFor="let item of items">
          <td *ngFor="let field of fields" ngClass="{{ field.tdClass ?? '' }}" >
            
              <ng-container *ngIf="getTemplate(field.key); else deft" [ngSwitch]="field.key">
                <ng-container *ngTemplateOutlet="getTemplate(field.key); context: { $implicit: item, field: field }"></ng-container>
              </ng-container>
              <ng-template #deft>
                {{ field.formatter ? field.formatter(item[field.key]) : item[field.key] }}
              </ng-template>
          </td>
        </tr> 
        <tr *ngIf="items.length === 0">
          <td [attr.colspan]="fields.length" class="body-custom text-center">
            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
              <span class="align-self-center">No hay registros</span>
            </div>
          </td>
        </tr>
      </tbody>

      <ng-template #loading>
        <tr>
          <td [attr.colspan]="fields.length" class="body-custom text-center">
            <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
              <span class="align-self-center">Cargando...</span>
            </div>
          </td>
        </tr>
      </ng-template>
    </table>
    <div class="pagination" *ngIf="totalPages > 1 ; else noPages" >
        <button (click)="previousPage()" [disabled]="currentPage === 1">
          <i class="mdi mdi-chevron-left" ></i>
        </button>
        <button 
          (click)="selectPage(item)" 
          *ngFor="let item of getVisiblePages(); let i = index" 
          [ngClass]="{ 'active': item === currentPage , 'no-button': item === '...'}"
          [disabled]="item === '...'"
        >
          {{ item }}
        </button> 
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          <i class="mdi mdi-chevron-right"></i>
        </button>
    </div>
    <ng-template #noPages>
      <div class="pagination"  >
        <button  [disabled]="true">
          <i class="mdi mdi-chevron-left" ></i>
        </button>
        <button  [disabled]="true">
          1
        </button> 
        <button [disabled]="true">
          <i class="mdi mdi-chevron-right"></i>
        </button>
    </div>
    </ng-template>
  </div>
  